 .rajesh-01>.item {    position: relative;    display: none;    -webkit-transition: 5000ms ease-in-out left !important;    -o-transition: 5000ms ease-in-out left !important;    transition:  2000ms ease-in-out left !important;
}

.r-drg1 {
    border-radius: 0px !important;
}
.close1 {
    font-size: 35px !important;
    color: #000 !important;
}
.r-degr1 h4 {
    font-size: 20px;
    margin-top: 0;
    color: #000;
    font-weight: 600;
    margin-top: 0%;
    margin-left: 3%;
    margin-bottom: 0%;
    font-family: 'Poppins', sans-serif;
}
button#s1 {
    text-transform: uppercase;
    background-color: #00a0dc;
    color: #fff;
    border: none !important;
    font-size: 16px !important;
    margin-top: 10px !important;
    padding: 10px 20px !important;
    font-family: 'Poppins', sans-serif;
}
.slmfke {
    background: #00476a !important;
    color: #fff !important;
    padding: 7px 20px !important;
    font-size: 18px !important;
    font-family: 'Open sans', sans-serif;
    margin-top: 0px;
    border-radius: 5px !important;
}
a.clasert1 {
    float: right;
    background: #00476a;
    color: #fff;
    padding: 7px 20px;
    font-size: 18px;
    font-family: 'Open sans', sans-serif;
    margin-top: 0px;
    display: inline-block;
    border-radius: 5px;
}

a.clasert1:hover,a.clasert1:focus {
    background: #00476a;
    color: #fff;
    text-decoration: none;
}

div#r1 {
    font-size: 12pt;
    font-weight: bold !important;
    font-family: 'Open Sans',sans-serif;
    color: #000 !important;
}

.re-dega1 {
    margin: 18px auto !important;
}
.r-bghw1 {
    margin-bottom: 4%;
}
.abtones9 {
    margin-bottom: 3%;
}

.clr{
clear: both;
}


span.phone1,span.email1 {
    font-size:  15px;
    margin-right: 5%;
}

.phone2,.envelope2 {
    margin-right:  1%;
}
a.ra-linkz1:hover, a.ra-linkz1:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
#topheaders {
    background: #808080;
    padding-top: 4px;
    padding-bottom: 0px;
}
.gym-2 {
    color: #fff;
    padding: 4px 6px !important;
    margin-right: 0px !important;
}
.fa-2x {
    font-size: 15px !important;
    margin-right: 0%;
    margin-top: 0%;
    color: #fff;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.for1 p {
    color: #fff !important;
    /* font-size: 12pt; */
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    float: left;
    width: 55%;
    /* background: #ff0; */
}
.for1 {
    float: right;
    margin-top: 0%;
    width:  40%;
}
.blogdamage {
    font-family: Bree serif !important;
    color: #fff !important;
    margin-top: 1px !important;
}

span.phone12,span.email1 {
    font-size:  15px;
    margin-right: 5%;
}

.phone2,.envelope2 {
    margin-right:  1%;
}
a.ra-linkz1:hover, a.ra-linkz1:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.facebook1, .twitter1, .google1, .linkedin1, .instagram1 {
    color: #fff;
    font-size: 16px !important;
    margin-right: 1%;
}
.login1 {
    font-size: 12px !important;
    border-radius: 0px !important;
    font-weight: 600 !important;
    padding: 4px 10px !important;
    border: none !important;
    background: #ffffff!important;
    color: #300f0a!important;
    display: inline-block !important;
    font-family: 'Poppins', sans-serif;
    margin-bottom: -5% !important;
    border-radius: 20px !important;
    padding: 4px 20px !important;
    float: right;
}
.kr-1 {
    color: #000 !important;
}
.slmfke {
    background: #056071 !important;
    color: #fff !important;
    font-weight: bold !important;
    font-size: 15pt !important;
    padding: 1% 5% !important;
    border: 1px solid #1abfdf !important;
}
.ctrlname {
    color: #000 !important;
}




.ribbon {
    position: absolute;
    top: 20px;
    right: -5px;
    padding: 15px;
}
.safrgvd {
    margin-top: 6%;
}
.ribbon-content{
    position: relative; 
    width: 100%; 
    height: 100px; 
    background: #f1f1f1; 
    border: 1px solid #DDD;    
}
.ribbon.base {
    background: #3498db;
    color: #fff;
    border-right: 5px solid #8bc4ea;
}
.ribbon.light {
    background: #ecf0f1;
    color: #2c3e50;
    border-right: 5px solid #dde4e6;
}
.ribbon.dark {
    background: #131313;
    color: #fff;
    border-right: 5px solid #464646;
}
.ribbon.base-alt {
    background: #9cd70e;
    color: #fff;
    border-right: 5px solid #c6f457;
}
.ribbon.red {
    background: #e91b23;
    color: #fff;
    border-right: 5px solid #f2787d;
}
.ribbon.orange {
    background: #ff8a3c;
    color: #fff;
    border-right: 5px solid #ffc7a2;
}
.ribbon.yellow {
    background: #ffd800;
    color: #fff;
    border-right: 5px solid #ffe866;
}
.ribbon:before, .ribbon:after {
    content: '';
    position: absolute;
    left: -9px;
    border-left: 10px solid transparent;
}
.ribbon:before {
    top: 0;
}
.ribbon:after {
    bottom: 0;
}
.ribbon.base:before {
    border-top: 27px solid #3498db;
}
.ribbon.base:after {
    border-bottom: 27px solid #3498db;
}
.ribbon.light:before {
    border-top: 27px solid #ecf0f1;
}
.ribbon.light:after {
    border-bottom: 27px solid #ecf0f1;
}
.ribbon.dark:before {
    border-top: 27px solid #131313;
}
.ribbon.dark:after {
    border-bottom: 27px solid #131313;
}
.ribbon.base-alt:before {
    border-top: 27px solid #9cd70e;
}
.ribbon.base-alt:after {
    border-bottom: 27px solid #9cd70e;
}
.ribbon.red:before {
    border-top: 27px solid #e91b23;
}
.ribbon.red:after {
    border-bottom: 27px solid #e91b23;
}
.ribbon.orange:before {
    border-top: 27px solid #ff8a3c;
}
.ribbon.orange:after {
    border-bottom: 27px solid #ff8a3c;
}
.ribbon.yellow:before {
    border-top: 27px solid #ffd800;
}
.ribbon.yellow:after {
    border-bottom: 27px solid #ffd800;
}
.ribbon span {
    display: block;
    font-size: 16px;
    font-weight: 600;
}


.navcnt a:focus {
    color: #fff !important;
    background-color: #300f0a !important;
}
.wheader{position:absolute;z-index:1;width:100%;}
ul.dropdown-menu {
    background: #300f0a;
    top: 19px;
}

.num1 a {
    color: #428bca;
    text-decoration: underline;
}
.ourteam-01 {
    margin-bottom: 4%;
}
 .ourteam-01 img {
     outline: 2px solid rgba(252, 209, 18, 0.48);
    outline-offset: -10px;
     text-align: center;
    display: table;
    margin: 0 auto;
}
.ourteam-01 h1 {
    text-align: center;
    font-size: 35px;
    font-family: 'Buenard',serif;
    font-weight: bold;
}
.moments-1 img {
    margin-top: 15%;
}
.read10 {
    text-align: center;
    margin: 0px auto;
    display: block;
}
.swe-1 a {
    text-align: center;
}
button#main {
    background: #dd2326;
    color: #fff;
    border: 0px #fff solid;
    padding-left: 1%;
    padding-right: 1%;
}
button#main h6 {
    font-size: 17px;
}

.adithya-banner1 {
    padding: 0px !important;
margin-top: 6.7%;
}

.tabcd{background-color:red;}
a.sviewss{border:1px solid #fff!important;color:#fff;padding:1% 3%;text-transform:uppercase;display:inline-block;margin-top:2%;text-decoration:none!important;}
a:hover.sviewss{background:#02b7ff;color:#fff;border:1px solid #02b7ff!important;}
.aboutthere h4{color:#fff;font-size:27pt;font-weight:700;}
header.container-fluid.wheader {
    padding: 0!important;
    background: #fff;
    margin-bottom: 0!important;
    position: relative;
}

.navbar-default{background:none!important;border:none!important;}
.container-fluid{margin-right:0!important;margin-left:0!important;}
.walogo img{width: 44%!important;}
.defualt-logo{        font-size: 23pt!important;
    color: #fff!important;
    margin: 0!important;
    padding: 40px 35px 40px 0px !important;
    padding-top: 0px!important;
    padding-bottom: 89px !important;
    font-family: Montserrat,sans-serif!important;}
.nright ul{float:right!important;margin-top:23px!important;margin-bottom:-1px!important;}
.nright ul li {
    font-size: 17px;
    font-weight: 500!important;
    padding-top: 2px;
    text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
    font-style: italic;
}
.nright ul li a {
    color: #814036!important;
    padding: 10px 22px !important;
}
.nright ul li a:hover{color:#01a1ff  !important;}
.navbar{margin-bottom:0!important;}
.homebanner-1{padding:0!important;}
.featured-1 h1{text-align:center;font-size:30pt;margin-top:7%!important;font-weight:700;font-family:'Reem Kufi',sans-serif;}
.featured-1 span{color:#ec2a27;}
.ofless{border-top:5px solid #ec2a27;width:9%;margin:2% auto 1%!important;}
.ofless:nth-child(3){border-top:5px solid #0f3bfa;width:6%;margin:0 auto 2%!important;}
.featured-1 p {
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    margin-top: 2%;
    font-family: 'Open Sans',sans-serif;
    font-style: italic;
}
.photography-1{margin-top:3%;}
.photography-1 h1{text-align:center;font-size:17px;margin-top:11%;font-weight:600;font-family:'Source Serif Pro',serif;}
.photography-1 p{text-align:center;margin-top:4%;font-size:13px;color:rgba(0,0,0,0.54);line-height:28px;}
.aremany-1 h1{text-align:center;color:#fff;font-size:45px;margin-top:16%;margin-bottom:16%;font-weight:700;font-family:'Source Serif Pro',serif;}
.aremany-1{background-attachment:fixed;background-size:cover!important;margin-top:5%;}
.bhask-footer2 h1{font-family:'Lato',sans-serif;color:#fff;font-size:23px;font-weight:100;margin:0;text-align:center;margin-top:9%;}
.bhask-footer2 p{font-family:'Open Sans',sans-serif;color:#ddd;font-weight:100;line-height:26px;padding-right:0;font-size:15px;text-align:center;padding-left:15%;padding-right:15%;}
.bhask-footer2 ul li a{color:#ddd;}
.bhask-footer2 ul{text-align:center;list-style:none;}
.bhask-footer2 h2{font-family:'Lato',sans-serif;color:#fff;font-size:20px;font-weight:100;margin:0;margin-top:6%;}
.wfooter{padding:0!important;}
.choose-1 h1{text-align:center;font-size:30pt;margin-top:7%;font-weight:700;color:#ec2a27;font-family:'Reem Kufi',sans-serif;}
.choose-1 span{color:#272727;}
.choose-1 p{text-align:center;font-size:18px;font-weight:100;margin-top:2%;font-family:'Open Sans',sans-serif;}
.navigation-1{margin-top:3%;}
.navigation-1 h1{text-align:center;font-size:29px;font-weight:500;margin-top:6%;font-family:'Reem Kufi',sans-serif;}
sub-container{padding:0 8%;}
.mar-bottom{margin-bottom:100px;}
.mar-top{margin-bottom:100px;}
.pad-bottom{padding-bottom:100px;}
.pad-top{padding-top:100px;}
.pad-right{padding-right:20px!important;}
.pad-left{padding-left:20px!important;}
.container-fluid{margin-right:0!important;margin-left:0!important;}
.pad-ziro{padding:0!important;}
.un-order ul{margin:0;padding:0;}
.un-order li{list-style:none;display:inline;padding:10px;}
.un-order li a{text-decoration:none;}
.un-order li a:hover,.un-oreder li a:focus{text-decoration:none;}
.img-on img{position:relative;}
.img-on-text{position:absolute;padding:5%;top:10%;}
.bg-img-3{width:32.3%!important;margin:0 .5%;padding:2%!important;}
.bg-img-4{width:24%!important;margin:0 .5%!important;padding:2%!important;}
.sub-container h1{text-align:center;color:#fff;font-size:27px;font-weight:500;font-family:'Reem Kufi',sans-serif;}
.sub-container{padding:0 8%;}
.pad-top{padding-top:100px;}
.pad-bottom{padding-bottom:100px;}
.raj-1{margin-top:3%;}
.gallery-1 h1{text-align:center;margin-top:-4%;margin-bottom:3%;text-transform:uppercase;font-size:43px;font-family:'Buenard',serif;}
.abt2four h3{font-family:'Roboto',sans-serif;color:#333;font-weight:100;font-size:6.25rem;text-align:center;margin-bottom:2%;}
.abt2four p{font-family:'Roboto',sans-serif;color:#333;font-size:14pt;letter-spacing:1px;font-weight:300;padding:0 24%;}
.abt2four{padding:20% 7.5%;text-align:center;background-attachment:fixed!important;background-size:cover!important;}
.aboutone{padding:15% 7.5%;text-align:center;background-attachment:fixed;background-size:cover!important;}
.aboutone h3{font-family:'Roboto',sans-serif;color:#333;font-weight:600;font-size:6.25rem;text-align:center;margin-bottom:1%;}
.aboutone p{font-family:'Roboto',sans-serif;color:#333;font-size:14pt;letter-spacing:3px;font-weight:400;}
.abttitleone{margin-top:3%;margin-bottom:3%;}
.abttitleone h3 {
    color: #ec2a27;
    font-weight: 700;
    font-size: 33pt;
    text-align: center;
    font-family: 'Buenard',serif;
    margin-top: 8%;
}
.abttitleone hr{width:9%;border-top:5px solid #ec2a27;}
.abtrighttitle{padding-left:3%!important;}
.abtrighttitle h3{font-size:18pt;font-family:'Roboto',sans-serif;font-weight:400;margin-bottom:3%;margin-top: 10px;}
.abtrighttitle p{font-family:'Roboto',sans-serif;font-size:12pt;font-weight:400;margin-bottom:3%;color:#4e4e4e;line-height:1.45;}
.abttwo{margin-bottom:3%;}
.aboutthere{padding:15% 7.5%;text-align:center;background-attachment:fixed;background-size:cover!important;}
.aboutthere h3{font-family:'Roboto',sans-serif;color:#333;font-weight:100;font-size:6.25rem;text-align:center;margin-bottom:2%;}
.aboutthere p{font-family:'Roboto',sans-serif;color:#333;font-size:14pt;letter-spacing:3px;font-weight:700;}
.abttitleoce{margin-top:3%;margin-bottom:3%;padding:0 15%!important;}
.abttitleoce h3{color:#fff;font-weight:300;font-size:33pt;text-align:center;font-family:'Buenard',serif;}
.abttitleoce hr{width:9%;border-top:5px solid #fff;}
.abttitleoce p{font-family:'Roboto',sans-serif;font-size:12pt;font-weight:400;margin-bottom:3%;color:#fff;line-height:1.45;margin-top:4%;text-align:center;}
.abttwo{margin-bottom:3%;}
.boxones{text-align:center;}
.boxones h3{font-size:17px;color:#373a3c;font-weight:500;margin-top:8%;margin-bottom:6%;font-family:'Buenard',serif;}
.boxones p{text-align:center;margin-top:4%;font-size:13px;color:rgba(0,0,0,0.54);line-height:28px;}
.abtgallery{margin-bottom:4%;}
.jfhen{padding-top:2%!important;padding-bottom:2%!important;}
.abtgallery img{padding-right:.3%!important;padding-bottom:.3%!important;}

.numarq1 {
    width: 100%;
    /* background: #ff0; */
    float: left;
    text-align: center;
    margin-top: 4.8%;
}
.num1 {
    float: left;
    width: 100%;
    /* background: #f00; */
}

.num1 p {
    color: #444;
    font-family: 'Open Sans',sans-serif;
    font-size: 40pt;
    font-weight: bold;
    letter-spacing: 1px;   font-family: 'Oswald', sans-serif;
}

.mor1 {
    float: left;
    width: 50%;
    /* background: #00f; */
    margin-left: 0%;
    margin-top: -10px;
}
.mor1 p {
    color: #fff;
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.a-vid1 {
    margin-top: 5%;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
.raju-1 table {
    width: 100%;
}
.num1 p{font-size: 22pt;}
.wheader{position:relative;z-index:1;width:100%;}
.nright ul{float:none!important;margin-top:15px!important;margin-bottom:-1px!important;}
.defualt-logo{padding:35px 0px!important;padding-top:0px!important;padding-bottom:62px !important;width: 63%;}
.navbar-default .navbar-toggle .icon-bar{background-color:#fffdfd!important;}
.navbar-toggle{position:relative;float:right;padding:9px 10px;margin-top:15px!important;margin-right:15px;margin-bottom:8px;background-color:transparent;background-image:none;border:1px solid transparent;border-radius:4px;}
.featured-1 h1{font-size:22pt!important;}
.ofless{width:37%!important;margin:5% auto 1%!important;}
.ofless:nth-child(3){border-top:5px solid #0f3bfa;width:30%!important;margin:0 auto 5%!important;margin-top:3%!important;}
.aremany-1 h1{font-size:21px;}
.choose-1 h1{font-size:20pt;}
.choose-1 p{font-size:12px;}
.navigation-1 h1{font-size:24px;}
.aboutthere h4{font-size:12pt;line-height:171%;}
.sub-container h1{font-size:23px;}
.gallery-1 h1{margin-top:-24%;}
.nilayam h3{margin-top:7%;margin-bottom:7%;font-size:23px!important;}
.aboutone h3{font-size:28px;}
.abttitleone h3{font-size:20pt;}
.abttwo{text-align:center;}
.aboutthere h3{font-size:28px;}
.abttitleoce h3{font-size:20pt;}
.abttitleoce{padding:0!important;}
.abtgallery img{padding-right:.4%!important;}
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
 .blogdamage {
    text-align: center;
}
span.phone12, span.email1 {
    display: block;
}
.for1 {
    width: 100%;
    margin-bottom: 2%;
}
.num1 p{font-size: 22pt;}
.contactmetwo h2{font-size:28px;}
.featursw h1{font-size:20pt;}
.contactmaindje{padding:0 4%;}
.aboutone h3{font-size:28px;}
.aboutdsone h2{font-size:20pt;}
.bestwished{padding:0 4%;}
.abtnedw4 h2{font-size:24pt;}
.abtnedw4 p{padding:0;}
.abtnew3{padding:3% 4% 7%;text-align:center;}
.widget-title{padding-left:0;}
.widget-title::before{display:none;}
.whoweare h2{font-size:24pt;}

.walogo img {
    width: 100% !important;
}
.blogdamage {
    text-align: center;
    display: none;
}
}

@media only screen and (min-width : 360px) and (max-width : 640px) {
.contactmetwo h2{font-size:28px;}
.num1 p{font-size: 22pt;}
.featursw h1{font-size:20pt;}
.contactmaindje{padding:0 4%;}
.aboutone h3{font-size:28px;}
.aboutdsone h2{font-size:20pt;}
.bestwished{padding:0 4%;}
.abtnedw4 h2{font-size:24pt;}
.abtnedw4 p{padding:0;}
.abtnew3{padding:3% 4% 7%;text-align:center;}
.widget-title{padding-left:0;}
.widget-title::before{display:none;}
.whoweare h2{font-size:24pt;}

.walogo img {
    width: 100% !important;
}
.blogdamage {
    text-align: center;
    display: none;
}
}

@media only screen and (min-width : 360px) and (max-width : 640px) {
.blogdamage {
    text-align: center;
}
span.phone12, span.email1 {
    display: block;
}
.for1 {
    width: 100%;
    margin-bottom: 2%;
}
.num1 p{font-size: 22pt;}
.aboutone h3{font-size:28px;}
.abttitleone h3{font-size:20pt;}
.abttwo{text-align:center;}
.aboutthere h3{font-size:28px;}
.abttitleoce h3{font-size:20pt;}
.abttitleoce{padding:0!important;}
.abtgallery img{padding-right:.4%!important;}
.defualt-logo {
    padding: 35px 0px !important;
        padding-top: 35px;
        padding-bottom: 35px;
    padding-top: 0px !important;
    padding-bottom: 62px !important;
    width: 56%;
}

.walogo img {
    width: 100% !important;
}
.blogdamage {
    text-align: center;
    display: none;
}
}
@media only screen and (min-width : 375px) and (max-width : 390px) {
.defualt-logo {
    padding: 35px 0px !important;
        padding-top: 35px;
        padding-bottom: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-top: 0px !important;
    padding-bottom: 62px !important;
    width: 54% !important;
}

.walogo img {
    width: 100% !important;
}
.blogdamage {
    text-align: center;
    display: none;
}
}

@media only screen and (min-width : 412px) and (max-width : 479px) {
.defualt-logo {
    padding: 35px 0px !important;
        padding-top: 35px;
        padding-bottom: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-top: 0px !important;
    padding-bottom: 62px !important;
    width: 49% !important;
}

.walogo img {
    width: 100% !important;
}
.blogdamage {
    text-align: center;
    display: none;
}

}


@media only screen and (min-width : 480px) and (max-width : 481px) {
.defualt-logo {
    padding: 35px 0px !important;
        padding-top: 35px;
        padding-bottom: 35px;
    padding-top: 0px !important;
    padding-bottom: 62px !important;
    width: 42%;
}

.walogo img {
    width: 100% !important;
}
.blogdamage {
    text-align: center;
    display: none;
}

}
@media only screen and (min-width : 533px) and (max-width : 534px) {
.num1 p{font-size: 22pt;}
.nright ul{float:none!important;margin-top:15px!important;margin-bottom:-1px!important;}
.navbar-toggle {
    padding: 10px;
    margin-top: 20px !important;
    margin-right: 15px;
    margin-bottom: 3px;
}
.defualt-logo {
    padding: 35px 0px !important;
        padding-top: 35px;
        padding-bottom: 35px;
    padding-top: 35px;
    padding-bottom: 35px !important;
    padding-top: 0px !important;
    padding-bottom: 73px !important;
    width: 45% !important;
}


.wheader{position:relative;z-index:1;width:100%;}
.num1 p{font-size: 22pt;}

.walogo img {
    width: 100% !important;
}
.blogdamage {
    text-align: center;
    display: none;
}

}

@media only screen and (min-width : 568px) and (max-width : 569px) {
.num1 p{font-size: 22pt;}
.nright ul{float:none!important;margin-top:15px!important;margin-bottom:-1px!important;}
.navbar-toggle {
    padding: 10px;
    margin-top: 18px !important;
    margin-right: 15px;
    margin-bottom: 3px;
}
.defualt-logo {
    padding: 40px 0px !important;
        padding-top: 40px;
        padding-bottom: 40px;
    padding-bottom: 71px !important;
    padding-top: 1px !important;
    width: 41% !important;
}
.wheader{position:relative;z-index:1;width:100%;}
.numarq1 {
    display: none;
}

.walogo img {
    width: 100% !important;
}
.blogdamage {
    text-align: center;
    display: none;
}
}

@media only screen and (min-width : 600px) and (max-width : 601px) {
.nright ul{float:none!important;margin-top:15px!important;margin-bottom:-1px!important;}
.navbar-toggle {
    padding: 10px;
    margin-top: 18px !important;
    margin-right: 15px;
    margin-bottom: 3px;
}
.defualt-logo {
    padding: 40px 0px !important;
        padding-top: 40px;
        padding-bottom: 40px;
    padding-bottom: 71px !important;
    padding-top: 1px !important;
    width: 39%;
}
.wheader{position:relative;z-index:1;width:100%;}
.num1 p{font-size: 22pt;}

.walogo img {
    width: 100% !important;
}
.blogdamage {
    text-align: center;
    display: none;
}
}

@media only screen and (min-width : 640px) and (max-width : 768px) {
.for1 {
    float: right;
    margin-top: -3%;
    width: 34%;
    padding: 10px 0px;
}
.num1 p{font-size: 22pt;}
.wheader{position:relative;z-index:1;width:100%;}
.nright ul{float:none!important;margin-top:15px!important;margin-bottom:-1px!important;}
.defualt-logo {
    padding: 35px 0px !important;
        padding-top: 35px;
        padding-bottom: 35px;
    padding-top: 0px !important;
    padding-bottom: 81px !important;
    width: 41%;
}

.navbar-default .navbar-toggle .icon-bar{background-color:#fffdfd!important;}
.navbar-toggle{position:relative;float:right;padding:9px 10px;margin-top:21px!important;margin-right:15px;margin-bottom:8px;background-color:transparent;background-image:none;border:1px solid transparent;border-radius:4px;}
.featured-1 h1{font-size:22pt!important;}
.ofless{width:37%!important;margin:5% auto 1%!important;}
.ofless:nth-child(3){border-top:5px solid #0f3bfa;width:30%!important;margin:0 auto 5%!important;margin-top:3%!important;}
.aremany-1 h1{font-size:21px;}
.choose-1 h1{font-size:20pt;}
.choose-1 p{font-size:12px;}
.navigation-1 h1{font-size:24px;}
.aboutthere h4{font-size:12pt;line-height:171%;}
.sub-container h1{font-size:23px;}
.photography-1 h1{font-size:17px;margin-top:5%;}
.photography-1 p{margin-top:2%;}
.gallery-1 h1{margin-top:-12%;}
.nilayam h3{margin-top:7%;margin-bottom:7%;font-size:23px!important;}
.aboutone h3{font-size:28px;}
.abttitleone h3{font-size:20pt;}
.abttwo{text-align:center;}
.aboutthere h3{font-size:28px;}
.abttitleoce h3{font-size:20pt;}
.abttitleoce{padding:0!important;}
.abtgallery img{padding-right:.4%!important;}

.walogo img {
    width: 100% !important;
}
.blogdamage {
    text-align: center;
    display: none;
}
}

@media only screen and (min-width : 640px) and (max-width : 768px) {
.contactmetwo h2{font-size:28px;}
.featursw h1{font-size:20pt;}
.contactmaindje{padding:0 4%;}
.aboutone h3{font-size:28px;}
.aboutdsone h2{font-size:20pt;}
.bestwished{padding:0 4%;}
.abtnedw4 h2{font-size:24pt;}
.abtnedw4 p{padding:0;}
.abtnew3{padding:3% 4% 7%;text-align:center;}
.widget-title{padding-left:0;}
.widget-title::before{display:none;}
.whoweare h2{font-size:24pt;}
}

@media only screen and (min-width : 667px) and (max-width : 768px) {
.defualt-logo {
    padding: 35px 0px !important;
        padding-top: 35px;
        padding-bottom: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-top: 0px !important;
    padding-bottom: 81px !important;
    width: 40% !important;
}
@media only screen and (min-width : 736px) and (max-width : 767px) {
.defualt-logo {
    padding: 35px 0px !important;
        padding-top: 35px;
        padding-bottom: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-top: 0px !important;
    padding-bottom: 62px !important;
    width: 49% !important;
}


}

}

@media only screen and (min-width : 768px) and (max-width : 1000px) {
.num1 p{font-size: 22pt;}
.contactmetwo h2{font-size:40px;}
.featursw h1{font-size:20pt;}
.contactmaindje{padding:0 4%;}
.aboutone h3{font-size:40px;}
.aboutdsone h2{font-size:20pt;}
.bestwished{padding:0 4%;}
.abtnedw4 h2{font-size:24pt;}
.abtnedw4 p{padding:0;}
.abtnew3{padding:3% 4% 7%;text-align:center;}
.widget-title{padding-left:0;}
.widget-title::before{display:none;}
.whoweare h2{font-size:24pt;}
.nright ul {
    float: right !important;
    margin-top: 2% !important;
    margin-bottom: 2% !important;
}
.defualt-logo {
    padding: 37px 0px !important;
        padding-top: 37px;
        padding-bottom: 37px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    width: 79% !important;
}
.nright ul li {
    font-size: 15px;
}

}
@media only screen and (min-width : 732px) and (max-width : 760px) {
.defualt-logo {
    padding: 35px 0px !important;
        padding-top: 35px;
        padding-bottom: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-top: 0px !important;
    padding-bottom: 81px !important;
    width: 36% !important;
}


}

@media only screen and (min-width : 768px) and (max-width : 1000px) {
.for1 {
    float: right;
    margin-top: -4%;
    width: 30%;
}
.aboutone h3{font-size:50px;}
.nright ul {
    float: right !important;
    margin-top: 2% !important;
    margin-bottom: 2% !important;
}

.abttitleone h3{font-size:24pt;}
.abttwo{text-align:center;}
.aboutthere h3{font-size:40px;}
.abttitleoce h3{font-size:20pt;}
.abttitleoce{padding:0!important;}
.abtgallery img{padding-right:.4%!important;}
.boxones h3{margin-bottom:2%;}


}
@media only screen and (min-width : 900px) and (max-width : 979px) {
.nright ul {
    float: right !important;
    margin-top: 12px !important;
    margin-bottom: 17px !important;
}


}

@media only screen and (min-width : 980px) and (max-width : 981px) {
.nright ul {
    float: right !important;
    margin-top: 12px !important;
}

}
@media only screen and (min-width : 991px) and (max-width : 1000px) {
.for1 {
    float: right;
    margin-top: 0%;
    width: 48%;
}
}
@media only screen and (min-width : 1020px) and (max-width : 1025px) {
.for1 {
    float: right;
    margin-top: 0%;
    width: 48%;
}
.numarq1 {
    width: 32%;
margin-left: 0%;
}

.mor1 {
margin-left: 7%;
}

}

@media only screen and (min-width : 1026px) and (max-width : 1200px) {
.aremany-1 h1{font-size:35px;}
.aboutthere h4{font-size:22pt;}
.sub-container h1{font-size:23px;}
.nilayam:nth-child(2){padding-bottom:6.6%!important;}
.nilayam:nth-child(3){padding-bottom:22.2%!important;}
}
@media only screen and (min-width : 1024px) and (max-width : 1025px) {
.nilayam:nth-child(2){padding-bottom:6.7% !important;}
.nilayam p{font-size: 12px !important;}
.nright ul {
    float: right !important;
    margin-top: 20px !important;
    margin-bottom: 24px !important;
}


}


@media only screen and (min-width : 1200px) and (max-width : 1300px) {
.nilayam:nth-child(2){padding-bottom:4.8%!important;}
.nilayam:nth-child(3){padding-bottom:15.9%!important;}
.nilayam p { font-size: 14px !important;padding-bottom: 1% !important;}

}

.aboutdsone{text-align:center;padding:3%;}
.aboutdsone h2 {
    margin-bottom: 3%;
    font-size: 20pt;
    font-family: 'Buenard',serif;
    line-height: 42px;
}
.aboutdsone h3 {
    margin-bottom: 3%;
    font-size: 20pt;
    font-family: 'Buenard',serif;
    line-height: 42px;
    color: rgba(255, 87, 34, 0.81);
}

.aboutdsone h1 {
    font-size: 28pt;
    font-family: 'Buenard',serif;
    color: #dd2326;
    font-weight: bold;
}
.aboutdsone p {
    font-family: 'Roboto',sans-serif;
    color: #5f5e5e;
    font-size: 12pt;
    font-weight: 300;
    padding: 0 0%;
    line-height: 36px;
}
.aboutdsone1 h1 {
    font-size: 28pt;
    font-family: 'Buenard',serif;
    color: #dd2326;
    font-weight: bold;
}
.aboutdsone1 p {
    font-family: 'Roboto',sans-serif;
    color: #5f5e5e;
    font-size: 12pt;
    font-weight: 300;
    padding: 0 0%;
    line-height: 36px;
}


.aboutdsone h5{font-family:'Roboto',sans-serif;text-transform:uppercase;color:#a9a9a9;font-size:18pt;margin-top:3%;margin-bottom:0;}
.weddings1 p{font-family:'Roboto',sans-serif;text-transform:uppercase;color:#fff;font-size:17pt;margin-top:3%;margin-bottom:0;text-align:center;font-weight:100;line-height:normal;}
.weddings1 p span{font-size:37pt;line-height:normal;}
.weddings1{border-right:1px solid #fff;padding:2%!important;}
.abtnew3{padding:3% 7.5% 7%;margin-top:0;margin-bottom:0;}
.abtnew3 p{font-family:'Roboto',sans-serif;color:#fff;font-size:12pt;font-weight:300;line-height:1.8;}
.abtnedw4{padding:4% 7.5% 0;margin-top:5%;margin-bottom:0;text-align:center;}
.abtnedw4 h2{margin-bottom:3%;font-size:35pt;color:#fff;font-family:'Buenard',serif;}
.abtnedw4 p{font-family:'Roboto',sans-serif;color:#fff;font-size:12pt;font-weight:300;padding:0 23%;line-height:1.8;}
.abtnedw4 hr{border-top:4px solid #fff!important;width:13%;}
.widget-title{font-size:18pt;font-weight:400;line-height:36px;padding-left:32px;position:relative;margin-bottom:5%;color:#fff;font-family:'Buenard',serif;}
.widget-title:before{content:'';position:absolute;left:0;top:0;bottom:0;background:#909090;width:3px;}
.whoweare{padding:15% 7.5%;text-align:center;}
.whoweare h2{font-family:'Oswald',sans-serif;color:#909090;font-size:35pt;}
.whoweare p{font-family:'Roboto',sans-serif;color:#909090;font-size:12pt;font-weight:300;}
.bestwished{padding:20% 7.5%;text-align:center;margin-top:0;margin-bottom:3%;}
.bestwished h2{font-family:'Oswald',sans-serif;color:#909090;font-size:35pt;}
.bestwished p{font-family:'Roboto',sans-serif;color:#909090;font-size:12pt;font-weight:300;}
.besyjfle{padding:6% 3%!important;}

 

.contactmetwo{padding:13% 7.5%;text-align:center;background-attachment:fixed;background-size:cover!important;}
.contactmetwo h2{font-family:'Open Sans',sans-serif;color:#fff;font-weight:100;font-size:10.25rem;text-align:center;margin-bottom:1%;margin-top:0;}
.featursw h1{text-align:center;font-size:30pt;margin-top:0;font-weight:700;color:#fff;font-family:'Buenard',serif;}
.featured-1 h1{text-align:center;font-size:30pt;margin-top:0;font-weight:700;}
.ofless{border-top:5px solid #ec2a27;width:9%;margin:2% auto 1%!important;}
.ofless:nth-child(3){border-top:5px solid #0f3bfa;width:6%;margin:0 auto 2%!important;}
.f1s{background:#4bf;color:#fff;padding:7.5% 9%;border-radius:50%;font-size:30px!important;display:table!important;margin:0 auto!important;}
.f2s{background:#fc579c;color:#fff;padding:8% 9%;border-radius:50%;font-size:30px!important;display:table!important;margin:0 auto!important;}
.f3s{background:#34495e;color:#fff;padding:8% 9%;border-radius:50%;font-size:30px!important;display:table!important;margin:0 auto!important;}
.contactone{text-align:center;margin:4% 0;font-family:'Molengo',sans-serif;}
.featursw{background:#37206d;padding:2% 2% 1.5%; margin-top: -1%;}
.contactone p{font-size:11pt;line-height:2;}
.contactmaindje{padding:0!important;}
.rightcons{padding:2%!important;}
.poplbl{color:#fff!important;font-size:13pt;}
.sendm2{background:#1abfdf!important;color:#fff!important;border:none!important;padding:1.5% 7%!important;text-transform:uppercase;}


.rightft{color:#8b8d8f;text-align:center;margin-top:4%;}
.ftlinks a{color:#fff;text-decoration:none;padding:5px 10px;}
.ftrs{background:#0b0b0b;padding:6% 0 2%;}
.facebook{background:#527ebf;padding:8px 13px;}
.twitter{background:#1abfdf;padding:8px;}
.pinterest{background:#ca2128;padding:8px;}
.facebook,.twitter,.pinterest{font-size:14px!important;color:#fff;margin-top:0;margin-left:2px;}
.ftright span{margin-right:25px;}
.nilayam1{padding-bottom:7.3px!important;}
.nilayam:nth-child(2) {
    padding-bottom: 6.9%!important;
}
.nilayam:nth-child(3){padding-bottom:12.5%!important;}
.nilayam{text-align:center;padding:2% 1% 5.2%!important;font-family:'Montserrat',sans-serif;}
.nilayam h4{color:#c39930;font-family:'Caveat',cursive;font-weight:700;}
.nilayam h3{color:#fff;margin:0;text-transform:uppercase;margin-top:5%;margin-bottom:10%;}
.nilayam p{font-size:15px;font-weight:100;color:#656565;line-height:1.3;}
.nilayam ul{list-style-type:none;text-align:center;padding:0;margin:0;}
.nilayam ul a{color:#656565!important;line-height:2.5;}
.rightft span{font-family:'Caveat',cursive;font-weight:700;text-transform:initial;color:#585757;}
.rightft p{font-family:'Montserrat',sans-serif;font-weight:700;text-transform:uppercase;}
.gallery-2 h1{text-align:center;margin-top:5%;margin-bottom:3%;text-transform:uppercase;font-size:49px;font-family:'Buenard',serif;}



.square1 {
    font-size: 20px !important;
    background: #d71e17;
    color: #fff;
    padding: 10px 12px;
    margin-right: 2%;
}
.instagram1-1 {
    font-size: 20px !important;
    background: #fbad50;
    color: #fff;
    padding: 10px 12px;
    margin-right: 2%;
}
.google3 {
    font-size: 20px !important;
    background: #db4437;
    color: #fff;
    padding: 10px 12px;
    margin-right: 2%;
}
.facebook1 {
    font-size: 20px !important;
    background: #29487d;
    color: #fff;
    padding: 10px 15px;
    margin-right: 2%;
}